<% layout('layout/boilerplate')%>

  <form id="newform" method="POST" action="/Hadith" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="form-group">
      <label for="narrator">Narrator name</label>
      <input type="text" class="form-control" id="narrator" name="Hadith[narrator]"
        placeholder="Enter The Narrator name" required>
      <div class="invalid-feedback">
        You must type Something.
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="form-group">
      <label for="image">image Text</label>
      <input type="file" class="form-control" multiple name="image" id="image" placeholder="Enter The Hadith Text">
    </div>
    </div>
    <div class="form-group">
      <label for="Hadith">Hadith Text</label>
      <input type="text" class="form-control" name="Hadith[hadith]" id="Hadith" placeholder="Enter The Hadith Text"
        required>
    </div>
    <div class="form-group">
      <label for="description">description Text</label>
      <input type="text" class="form-control" name="Hadith[description]" id="description"
        placeholder="Enter The description Text" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>