<% layout('layout/boilerplate')%>

  <div class="row">
    <div class="col-6 mx-auto">

      <form method="POST" action="/login" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="username">Enter Your Username </label>
          <input type="text" class="form-control" id="username" name="username" placeholder="username " required />
        </div>

        <div class="form-group">
          <label for="password"> Enter your password </label>
          <input type="text" class="form-control" name="password" id="password" placeholder=" password " required />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>